{% extends 'base.html.twig' %}
{% block body %}
    <h1>Accueil</h1>
    <div class="posters">
    {% for movie in movies %}
        <div class="poster">
            <div>
                <a href="{{ path( 'movie_detail', { "id": movie.id } ) }}">
                    <img src="/posters/{{ movie.getImage() }}" />
                </a>
            </div>
            <div>Review count : {{ movie.reviews|length }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block title %}Titre génial{% endblock %}